body {
  margin:0;
  padding:0;
}

h1 {
  font-family:Arial, sans-serif;
}

#navbar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color:crimson;
}

.nav-list {
  display:flex;
  justify-content:flex-end;
  margin-right:10px;
}

.nav-link {
  display:block;
  list-style:none;
  color:white;
  padding:5px;
  font-family:Roboto, sans-serif;
  font-weight:700;
}

section {
  width:100%;
  height:100vh;
}

#welcome-section {
  width:100%;
  margin:0;
  background:#144;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:3em;
}

#welcome-section p {
  font-family: Verdana, sans-serif;
}

#projects {
  width:100%;
  height:100vh;
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  background-color:#144;
  border-top:5px dotted black;
  align-items:center;
  justify-content:center;
}

.project-tile{
  padding:10px;
  background-color:red;
  margin:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
}

.project-tile > img {
width:400px;
}

#contacts {
  background-color:darkorange;
  display:flex;
  flex-direction:row;
  align-content:center;
  justify-items:center;
  height:80vh;
}

#footer {
  width:100%;
  max-height:30%;
  background-color:greenyellow;
  display:flex;
  justify-content:space-around;
}
