body {
  margin:0;
  padding:0;
  font-family:'Fira Sans', sans-serif;
  color:white;
}

h1 {
  font-family:'Ubuntu', sans-serif;
}

section {
width:100%;
height:100vh;
margin:0;
padding:0;
}

#navbar {
  width:100%;
  position:fixed;
  top:0;
  left:0;
  right:0;
  background-color:#758FA8;
  z-index:0;
}

#navbar a {
  text-decoration:none;
  color:white;
}


.nav-list {
  display:flex;
  justify-content:space-around;
  margin-right:10px;
}

.nav-link {
  display:block;
  list-style:none;
  color:white;
  padding:5px;
  margin:5px;
  font-weight:700;
  font-size:2em;
}

.nav-link:hover {
 transition:0.5s;
  transform:scale(1.4);  
}

#welcome-section {
  min-width:100%;
  margin:0;
  background:#304050;
  height:100vh;
  display:flex;
  flex-direction:column;
  align-items:center;
  justify-content:center;
  color:white;
  font-size:3em;
  text-align:center;
}

#projects {
  width:100%;
  height:100%;
  padding:45px 0;
  min-height:100vh;
  background-color:#0A1521;
}

#project-header {
  text-align:center;
  font-size:2.6em;
  margin:15px auto 20px;
  max-width:400px;
}

#project-wrap {
  display:flex;
  flex-direction:row;
  flex-wrap:wrap;
  align-items:center;
  justify-content:center;
}

.project-tile {
  padding:0px;
  background-color:#758FA8;
  margin:10px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  text-decoration:none;
  color:white;
}

#contacts {
  background-color:#2A333C;
  display:flex;
  height:100%;
  min-height:100vh;
  justify-content:center;
  align-items:center;
}

#contacts-wrap {
  text-align:center;
}

.contact-link {
  display:inline-block;
  color:white;
  margin:10px 14px;
  padding:5px;
  font-size:1.8em;
  text-decoration:none;
}

.contact-link:hover {
  transition: all .3s ease-in-out;
  transform:translateY(10px);
}

#profile-link {
  text-decoration:none;
  font-size:3em;
}

#footer {
  width:100%;
  max-height:30%;
  background-color:#102234;
  display:flex;
  justify-content:space-around;
  color:white;
}

#footer a {
  text-decoration:none;
  color:white;
}

@media screen and (max-width:770px) {
  .contact-link {
    display:block;
  }
  
  h1{
    font-size:1em;
  }
}

@media screen and (max-width:700px) {
  #footer {
    flex-direction:column;
    align-items:center;
    text-align:center;
  }
}

@media screen and (max-width:530px) {
  .nav-list {
    flex-direction:column;
    align-items:center;
    font-size:1em;
  }
}
